body{
    font-family: "Montserrat", sans-serif;
}

.play{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 100vh;
    width: 100%;
    color: #171715;
}
.play h1{
    font-size: 50px;
}

.play p{
    font-size: 30px;
}

.btn{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    outline: 0;
  
    background: #A1BD6B;
    color: #fff;
    box-shadow: 3px 2px 3px 2px #A1742f;
} 

.btn:hover{
    animation: pulse 1s 0.4s forwards;
}
.quiz-container{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_fw-2v-XS65BMr4uSsLpsKaeHtbwcmNbnZw&s);
    background-size: contain;
    height: 100vh;
    /* background-repeat: no-repeat; */
    animation: moveBackground 30s linear infinite;
    font-family: "Montserrat", sans-serif;

}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.quiz-page{
    background: #171715;
    padding: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.score-container{
    display: flex;
    justify-content: end;
    align-items: end;
   
}
.score-container span{
    display: none;
    width: 100px;
    border: 2px solid #ccc;
    height: 40px;
    text-align: center;
    margin: 4px;
    padding: 2px 2px;
    

}
.question-container{
    color: #fff;
    padding: 10px;
   
}
.questions{
    font-size: 18px;
    padding: 10px 10px;
    letter-spacing: 1px;
   
}

.next-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 15px;
}

#previous{
    display: none;
    width: 120px;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 18px;
    font-size: 20px;
    transform: translateX(0.7s ease);
    letter-spacing: 2px;
    box-shadow: 3px 2px 3px 2px #A1BD6B;
}

#previous:hover{
    animation: pulse 1s 0.9s ease;
   
   

}

#next{
    width: 120px;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 6px;
    font-size: 20px;
    transform: translateX(0.7s ease);
    letter-spacing: 2px;
    box-shadow: 3px 2px 3px 2px #A1BD6B;
    
    

}
#next:hover{
    animation: pulse 1s 0.9s ease;
    /* color: #fff; */
   

}

.emd-quiz{
    padding: 15px 15px;
    font-family:  "Montserrat", sans-serif;
}

